
.edit-input {
  border: none;
  border-bottom: 2px solid #aaa;
  padding: 5px 2px 0 2px;
  font-size: 16px;
  outline: none;
}

.edit-input +.edit-input {
  margin-left: 2px;
}

.edit-table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.edit-table td {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}

.edit-table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
  background-color: #f1f1f1;
}

.edit-table .edit-input {
  width: 100%;
}
